*~
#*
*.pyc
*.pickle
**/build/**
.DS_Store
screen.png
eidolon.log
src/renderer/Renderer.cpp
src/renderer/Renderer.so
src/eidolon/*.cpp
src/eidolon/*.so
dist
tutorial/DicomData/dicomdataset.ini
tests/meshtests/isotest.png
